<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.studio.matchtune.activity"
    android:requestLegacyExternalStorage="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" ></uses-permission>


    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.StudioApp"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        tools:targetApi="31">

        <activity
            android:name=".TourVideo"
            android:exported="false"
            android:theme="@style/Theme.StudioApp.NoActionBar"
            />
        <activity
            android:name=".DemoVideoActivity"
            android:exported="false"
            android:theme="@style/Theme.StudioApp.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_web_view"
            android:theme="@style/Theme.StudioApp.NoActionBar" />
        <activity
            android:name=".VideoEditionActivity"
            android:exported="false"
            android:theme="@style/Theme.StudioApp.NoActionBar" />
        <activity
            android:name=".VideoListActivity"
            android:exported="false"
            android:theme="@style/Theme.StudioApp.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".activity_splash" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity_splash"
            android:exported="true"
            android:theme="@style/Theme.StudioApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.StudioApp.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>